<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Css\login.css">
    <title>Document</title>
 <script src="lg.js"></script>
</head>
<body>
    
    <div class="navcontainer">
    <div class="navbar">
       <form class=search-bar>
           <input type="text" placeholder="search">
           <button>Search</button>
       </form>
        <ul>
        <li> <a href="Login.html">Login</a></li>
        <li>  <a href="Register.html">Register</a> </li>
        </ul>
        
    </div>
</div>
  <div class="container">
      <div class="title">Login</div>
      <div class="form">
      <form class="form1" action="http://localhost:8000/api/Login" method="POST">
          
          <div>
            <label for="Username">Username</label>
            <input type ="text" name="Username" id="Username" placeholder="Enter your Username" | required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type ="password" name="password" id="password" placeholder="Enter your password"| required>
        </div>
        
       <button class="form2" type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>