<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Css\register.css">
    <title>Document</title>
</head>
<body>
    <div class="navcontainer">
    <div class="navbar">
       <form class=search-bar>
           <input type="text" placeholder="search">
           <button>Search</button>
       </form>
        <ul>
        <li> <a href="Login.html">Login</a></li>
        <li>  <a href="Register.html">Register</a> </li>
        </ul>
        
    </div>
</div>
  <div class="container">
      <div class="title">Registration</div>
      <div class="form">
      <form action="/Register" method="POST">
          <div>
              <label for="name">Full Name</label>
              <input type ="text" name="fullname" id="fullname" placeholder="Enter your full name" | required>
              <span id="reqspan">*</span>
          </div>
          <div>
            <label for="Username">Username</label>
            <input type ="text" name="username" id="username" placeholder="Enter your Username" | required>
            <span id="reqspan">*</span>
        </div>
        <div>
            <label for="email">Email</label>
            <input type ="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type ="password" name="password" id="password" placeholder="Enter your password"| required>
            <span id="reqspan">*</span>
        </div>
        <div>
           Gender
           <input type ="radio" name="gender" id="male" value="male"|required> 
           <label for="Male">Male</label>
           <input type ="radio" name="gender" id="Female" value="Female">
           <label for="Female">Female</label> 
           <input type ="radio" name="gender" id="Non-binary" value="Non-binary"> 
           <label for="Non-binary">Non-binary</label>
           <input type ="radio" name="gender" id="Unknown" value="Unknown">
           <label for="Non-binary">Prefer not to Say</label> 
           <span id="reqspan">*</span>
        </div>
        <div>
            Select you area of interests
            <input type ="checkbox" name="interests" value="Science" > 
            <label for="Science">Science</label>
            <input type ="checkbox" name="interests" id="Arts" value="Arts" > 
            <label for="Arts">Arts</label>
            <input type ="checkbox" name="interests" value="Humanities" > 
            <label for="Humanities">Humanities</label>
            <input type ="checkbox" name="interests" value="Management" > 
            <label for="Management">Management</label>
            <input type ="checkbox" name="interests" value="Coding" > 
            <label for="Coding">Coding</label>
        </div>
       <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>